<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Pagina oficială de store a Fundație LEADERS. Aici puteți găsi tricouri, hanorace, cani etc. cu modele voastre preferate cu LEADERS.">
        <meta name="keywords" content="LEADERS, merch, tricou, hanroc, brățară, fundație, merch, tricou LEADERS, LEADING THE PROGRESS, brățări LEADERS,
        tricou EXPLORE, tricou EXPERIENCE, tricou CHALLENGE">
        
        <title>LEADERS Store - Produs</title>
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>
                    <div class="scris">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <h4>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></h4>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> RON</span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Produse disponibile : <span class="produ_disp  "><%- locals.prod.produ_disp   %> </span></p>
                    <p>Marimi: <span class="marime"><%- locals.prod.marime %> </span></p>
                    <p>Material: <span class="material"><%- locals.prod.material %> </span></p>
                    <p>Culoare : <span class="culoare "><%- locals.prod.culoare  %> </span></p>
                    <script>
                        function de_spalat(input){
                            if(input == "true")
                                return "da";
                            else
                                return "nu";
                        }
                    </script>
                    <p>Se poate spala? <span class="de_spalat "><script>document.write(de_spalat("<%- locals.prod.de_spalat%>"))</script></span></p>
                    <script>
                        function getDefaultDate(inputDate) {
                            const months = [
                                "Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie",
                                "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"
                            ];

                            const daysOfWeek = [
                                "Duminica", "Luni", "Marti", "Miercuri", "Joi", "Vineri", "Sambata"
                            ];

                            const day = inputDate.getDate();
                            const month = months[inputDate.getMonth()];
                            const year = inputDate.getFullYear();
                            const dayOfWeek = daysOfWeek[inputDate.getDay()];

                            const formattedDate = `${day}/${month}/${year} (${dayOfWeek})`;
                            return formattedDate;
                        }
                    </script>
                    <p>Data adăugare: <span class="data_adaugare "><script>document.write(getDefaultDate(new Date("<%- prod.data_adaugare %>")))</script></span></p>
                </div>
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>