<div id="grid-galerie">
    <% let counter = 0; %>
    <% for (let i = 0; i < locals.imagini.length; i++) {
        const ora = new Date().getHours();
        const imag = locals.imagini[i];
        let perioada = "";
        if ( ora >= 5 && ora <= 12 ){
            perioada = "dimineata";
        }
        else if ( ora > 12 && ora <= 20 ){
            perioada = "zi";
        }
        else {
            perioada = "noapte";
        }
        if (imag.timp.includes(perioada)) {
            if (counter % 3 !== 2) {
                %>
                <figure class="image">
                    <picture>
                        <source srcset="<%- imag.fisier_mic %>" media="(max-width:500px)" />
                        <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                        <img src="<%- imag.fisier %>" alt="imagine">
                    </picture>
                    <figcaption><%- imag.nume %></figcaption>
                </figure>
                <% } else { %>
                <div class="spacer"></div>
                <figure class="image">
                    <picture>
                        <source srcset="<%- imag.fisier_mic %>" media="(max-width:500px)" />
                        <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                        <img src="<%- imag.fisier %>" alt="imagine">
                    </picture>
                    <figcaption><%- imag.nume %></figcaption>
                </figure>
                <div class="spacer"></div>
                <% } %>
            <% 
            counter++;
        }
    } %>
</div>
