<div id="galerie-statica-mare">
<% let counter = 0;
let perioada = "";
      for (let imag of locals.imagini) {
        const ora = new Date().getHours();
            
            if (ora >= 5 && ora <= 12) {
                perioada = "dimineata";
            } else if (ora > 12 && ora <= 20) {
                perioada = "zi";
            } else {
                perioada = "noapte";
            }
            if (!(imag.timp.includes(perioada))) {
            continue;
        }
        if (counter == 0){
          %><div id="grid-galerie">
            <%
            
        }
        
                %>
                <div class="<%- "photo-"+counter%>">
                  <figure class="image">
                    <picture>
                      <source srcset="<%- imag.fisier_mic %>" media="(max-width:500px)" />
                      <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                      <img src="<%- imag.fisier %>" alt="imagine">
                    </picture>
                    <figcaption><%- imag.nume %></figcaption>
                  </figure>
                </div>
             %>
              <% counter = counter + 1;
              if (counter == 3){
                counter = 0;
                %> </div> <%
              }
            
      } %>
</div>
  