<div id="galerie-statica-mare">
<% let counter = 0;
let perioada = "";
const ora = new Date().getHours();
            if (ora >= 5 && ora <= 12) {
                perioada = "dimineata";
            } else if (ora > 12 && ora <= 20) {
                perioada = "zi";
            } else {
                perioada = "noapte";
            }
var array1 = locals.imagini.filter( arr => {
  if (arr.timp.includes(perioada)){
      return true;
  }
  return false;
});
var array = array1.slice(0,array1.length - (array1.length%3));
      if (array.length > 5){
      for (let imag of array) {
       
            if (!(imag.timp.includes(perioada))) {
            continue;
        }
        if (counter == 0){
          %><div id="grid-galerie">
            <%
            
        }
        
                %>
                <div class="<%- "photo-"+counter%>">
                  <figure class="image">
                    <picture>
                      <source srcset="<%- imag.fisier_mic %>" media="(max-width:500px)" />
                      <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                      <img src="<%- imag.fisier %>" title="<%- imag.descriere %>"alt="imagine">
                    </picture>
                    <figcaption><%- imag.nume %> </figcaption>
                  </figure>
                </div>
             %>
              <% counter = counter + 1;
              if (counter == 3){
                counter = 0;
                %> </div> <%
              }
            
      } }%>
</div>
  